

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body{
    height: 100vh;
    background-color: #000; 
    background-image: url('./img/qaw.jpg');
    background-size: cover;
    background-position: center;
  }
  li{
    list-style: none;
  }
  ul li{
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
  }
  a {
    text-decoration: none;
    color: #fff;
    font-style: 1rem;
    
  }
  a:hover{
    color: orange;
  }
  header{
    position: relative;
    padding: 0 2rem;
  }
  .nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .nav .logo a{
    font-style: 1.5rem;
    font-weight: bold;
  }
  .nav .links{
    display: flex;
    gap: 2rem;
    
  }
  .nav .toggle_btn{
    color: #fff;
    font-style: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-style: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  .action_btn:hover{
    scale: 1.05;
    color: #fff;
  }
  .action_btn:active{
    scale:0.95;
  }
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open{
    height: 240px;
  }
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown_menu .action_btn{
    width: 100px;
    display: flex;
    justify-content: center;
  }
  section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: #fff;
  }
  #hero h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  
  .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .content{
    width: 95%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .cont{
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .cont:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
  }
  img{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
  }
  @media(max-width:1000px){
    .cont{
      width: 45%;
    }
  }
  @media(max-width:750px){
    .cont{
      width: 100%;
    }
  }
  @media(max-width:992px){
  .nav .links,
  .nav .action_btn{
    display: none;
  }
  .nav .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
  }
  @media(max-width:576px){
  .dropdown_menu{
  left: 2rem;
  width: unset;
  }
  }